.html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.navigation {
	background-color: #77BA99;
}

.body-background-color {
	background-color: #EFF0D1;
}

.footer {
	background-color: #D33F49;
}

.main-header {
	color: #EFF0D1;
	background-color: #D33F49;
}

.secondary-content-header {
	color: #262730;
	background-color: #77BA99;
}

nav a {
	/* stylowanie wszystkich a znajdujących się w nav */
	color: #D33F49;
	font-weight: bold;
}

footer a {
	/* stylowanie wszystkich a znajdujących się w footer */
	color: inherit;
	/* odziedziczenie koloru po rodzicu, tj. footer */
	font-weight: bold;
}

/*Paleta na www:
Rusty red: #D33F49
Thistle: #D7C0D0
Beige: #EFF0D1
Cambridge blue: #77BA99
Rasin black #262730
*/