.html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.navigation {
	background: #D33F49;
	padding: 15px;
}

.navigation__link {
	color: #EFF0D1;
}

.section{
background: #77BA99;
}

.section__header{}

.section__image{}

.section__text{}

.article{}

.article__header{}

.article__text{}

.footer{
	background: #262730;
	color: #EFF0D1;
}

.footer__header{}

.footer__link{}

.footer__text{}

.inner-link{}


/*
.body-background-color {
	background-color: #EFF0D1;
}

.footer {
	background-color: #D33F49;
}

.main-header {
	color: #EFF0D1;
	background-color: #D33F49;
}

.secondary-content-header {
	color: #262730;
	background-color: #77BA99;
}

nav a {
	color: #D33F49;
	font-weight: bold;
}

footer a {
	color: inherit;
	font-weight: bold;
}
*/


/*Paleta na www: https://coolors.co/d33f49-d7c0d0-eff0d1-77ba99-262730
Rusty red: #D33F49
Thistle: #D7C0D0
Beige: #EFF0D1
Cambridge blue: #77BA99
Rasin black #262730
*/